{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1 Align="center">Beta tester</h1>
    <div Align="center">
        En esta sección te inscribirás para poder realizar pruebas del proyecto antes de la publicación final.
    </div>
    
    {% if miFormulario.errors %}

    <p style="color: red;"Align="center"> Están mal los datos, revisar</p>

    {% endif %}


    <form action="" method="POST"Align="center">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table Align="center">

            {{ miFormulario.as_table }}


        </table>


        <input type="submit", value="Enviar">

    </form>

  

{% endblock %}